<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lockers</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="index.html">Bookings</a>
        <ul>
          <li><a href="meeting-rooms.html">Meeting Rooms</a></li>
          <li><a href="food.html">Food</a></li>
          <li><a href="lockers.html">Lockers</a></li>
          <li><a href="recreation.html">Recreation</a></li>
        </ul>
      </li>
      <li><a href="queries.html">Queries</a></li>
      <li><a href="family.html">Family</a></li>
    </ul>
  </nav>

  <p>{{ err_msg }}</p>

  <div class="content">
    <h1>Lockers</h1>
    <p>Book a locker for your personal belongings.</p>

    <form id="lockerBookingForm" action="/locker" method="post">
	
	  <label for="floor">Floor:</label>
      <select id="floor" name="lockerfloor" required>
	  <option value="">-- Select a Floor --</option>
		<option value="GF">GF</option>
		<option value="FF">FF</option>
      </select>
	  
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start_date" required>

      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end_date" required>

      <button type="submit">Book Locker</button>
    </form>
  </div>

  <script src="script.js"></script>
</body>
</html>